@font-face {
  font-family: "iconfont"; /* Project id 2662596 */
  src: url('iconfont.woff2?t=1626918182244') format('woff2'),
       url('iconfont.woff?t=1626918182244') format('woff'),
       url('iconfont.ttf?t=1626918182244') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e61b";
}

.icon-shanchu1:before {
  content: "\e696";
}

.icon-shanchu11:before {
  content: "\e63c";
}

.icon-shanchu12:before {
  content: "\e67d";
}

.icon-shanchu2:before {
  content: "\e615";
}

.icon-pinglun1:before {
  content: "\e600";
}

.icon-zhuanfa:before {
  content: "\e604";
}

.icon-xihuan_moren:before {
  content: "\e883";
}

.icon-xihuan_xuanzhong:before {
  content: "\e882";
}

.icon-shuaxin:before {
  content: "\e606";
}

.icon-shuaxin1:before {
  content: "\e63a";
}

.icon-shuaxin2:before {
  content: "\e647";
}

.icon-shuaxin3:before {
  content: "\e6ca";
}

.icon-yumaobi:before {
  content: "\e6e5";
}

.icon-mianxingyumaobi:before {
  content: "\e676";
}

.icon-xianxingyumaobi:before {
  content: "\e67e";
}

.icon-houtuishangyige:before {
  content: "\e7ea";
}

.icon-houtui:before {
  content: "\e64e";
}

.icon-xiangyou:before {
  content: "\e6d8";
}

.icon-dianzan1:before {
  content: "\e601";
}

.icon-dianzan2:before {
  content: "\e602";
}

.icon-wenda:before {
  content: "\e603";
}

.icon-aite:before {
  content: "\e71c";
}

.icon-dianzan:before {
  content: "\e617";
}

.icon-shoucang:before {
  content: "\e618";
}

.icon-pinglun:before {
  content: "\e619";
}

.icon-zhuanfa-:before {
  content: "\e621";
}

.icon-zhuanfa-1:before {
  content: "\e622";
}

